{% extends "base" %}

{% block content %}

<code>

  <div class="card">
    <div class="card-body">
      <h4>No results found.</h4><br>
      Explorer supports requests by block number, block hash or kernel.<br>
    </div>
  </div>

</code>

<br>

{% endblock %}

