{% extends "base" %}

{% block content %}

<code>

  <div class="card">
    <div class="card-body">
      <h4>No results found.</h4><br>
      <div class="value-text mb-2">Supported search inputs:</div>
      <div class="value-text"><i class="bi bi-dot"></i> block number</div>
      <div class="value-text"><i class="bi bi-dot"></i> block hash</div>
      <div class="value-text"><i class="bi bi-dot"></i> kernel</div>
    </div>
  </div>

</code>

{% endblock %}

